/* ------------------------------------- Importing fonts ------------------------------------- */

/* Montserrat (product description, add-to-cart button, product category) */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* Fraunces (product title) */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

/* Oufit (watermark) */
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

/* ------------------------------------- PAGE CONFIG ------------------------------------- */

/* Setting page margin and padding and tuning all elements into unselectable */

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* Setting the page background color */

body {
  background-color: hsl(30, 38%, 92%);
}

/* ------------------------------------- PRODUCT PREVIEW CONTAINER ------------------------------------- */

/* Setting container sizes and spacement */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* Setting the product preview box configs*/

.box {
  display: flex;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.07);
  transition: 0.5s;
}

.box:hover {
  transform: scale(1.1);
}

/* Product image  */

.product-img {
  object-fit: cover;
  width: 280px;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Product details */

.details {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product-preview {
  width: 280px;
  height: auto;
}

.product-category {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}

.product-title {
  font-family: "Fraunces";
  line-height: 33px;
  color: #1c232b;
}

.product-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: hsl(228, 12%, 48%);
}

.price-tag {
  font-family: "Fraunces";
  font-weight: 700;
  color: hsl(158, 36%, 37%);
  vertical-align: middle;
}

/* Old price tag */

#old-price-tag {
  vertical-align: middle;
  padding-left: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: line-through;

  color: hsl(228, 12%, 48%);
}

/* -------------------------- ADD TO CART BUTTON -------------------------- */
/* Setting add-to-cart button size and spacement */

.add-to-cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 12px;

  /* Setting add-to-cart button coloring */

  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);

  /* Setting add-to-cart border button */
  border: none;
  border-radius: 10px;

  /* Setting add-to-cart font and text alignment */
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  transition: 0.5s;
}

/* Add to cart transition */

.add-to-cart-button:hover {
  cursor: pointer;
  background-color: #1a4031;
}

/* Cart icon config */

.icon-cart {
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}

/* -------------------------- WATERMARK / COPYRIGHT -------------------------- */
/* Copyright watermark settings */

.copyright {
  font-size: 12px;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: gray;
  margin-left: 30px;
  margin-right: 30px;
}

.copyright {
  display: flex;
  padding-top: 40px;
}

/* Copyright watermark pointer animation */

.copyHover {
  text-decoration: none;
  color: grey;
  transition: 0.5s;
}

.copyHover:hover {
  filter: brightness(0.6);
}

/* -------------------------- MOBILE FIRST --------------------- */

@media (max-width: 768px) {
  .box {
    flex-direction: column;
  }

  .product-img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    width: 350px;
    height: 250px;
  }

  .product-preview {
    width: 350px;
  }

  /* Turning animations off */

  .box:hover {
    transform: scale(1);
  }
}
